body {
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#wrap{
	position: relative;
}
.row_wrap{
	position: relative;
	width: 1100px;
	margin: 0 auto;
}
.clear_fix::after{
	content:'';
	display: block;
	clear: both;
}

/* input */
.primary_input{
	width: 250px;
	height: 32px;
	padding: 0 10px;
	box-sizing: border-box;
}
.large_input{
	width: 450px;
	height: 32px;
	padding: 0 5px;
	box-sizing: border-box;
}
.w100_input{
	width: 100px;
	height: 32px;
	padding: 0 5px;
	box-sizing: border-box;
}
.small_input{
	width: 50px;
	height: 32px;
	padding: 0 5px;
	box-sizing: border-box;
}

/* table */
.table_section{
	clear: both;
}
.table_section table{
	width: 100%;
	word-break: break-all;
	font-size: 14px;
}
.table_section table th:first-child,
.table_section table td:first-child{border-left: 1px solid transparent;}
.table_section table th:last-child,
.table_section table td:last-child{border-right: 1px solid transparent;}
.table_section table th{
	background-color: #849bba;
	color: #fff;
	border: 1px solid #7c92af;
	padding: 0.5em;
	vertical-align: middle;
}
.table_section table th.table_cont_tit{
	font-size: 1.2em;
	font-weight: 700;
	padding: 1em;
	color: #242c35;
	background-color: rgba(127, 172, 193, 0.1);
}
.table_section table td{
	height: 29px;
	min-height: 29px;
	border: 1px solid #ddd;
	padding: 0 0.5em;
	vertical-align: middle;
}
.table_section table td.table_cont_area{
	padding: 1em 0.5em;
}
.table_section table td .btn_anchor{
	padding: 0.3em 1em;
}
.table_btn_section{
	margin: 1em 0;
}

/* pagination */
.pagination{
	width: 450px;
	margin: 10px auto;
}
.pagination > li{
	float: left;
	width: 28px;
	height: 28px;
	line-height: 28px;
	margin: 0 2px;
	text-align: center;
	font-size: 13px;
}
.pagination > li > a{
	display: block;
	transition: all ease 0.5s;
	color: #333;
}
.pagination > li > a:hover{
	color: #999;
}
.pagination .active{
	background-color: #849bba;
	border-radius: 5px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.pagination .active a{
	color: #fff;
}
.pagination .active a:hover{
	color: #fff;
}

/* select */
.wSelect-arrow:before {
    content: "\f0d7";
    top: 3px;
    left: 7px;
    position: absolute;
    color: #fff;
}

/* search_content */
.search_content{
	text-align: center;
	margin: 20px;
}
.search_content .wSelect-arrow:before{
	top: 6px;
}
.search_content .wSelect-theme-classic.wSelect{
	line-height: 14px;
}
.search_input_text{
	width: 100px;
	height: 26px;
	border: 1px solid #7c92af;
	border-radius: 3px;
	box-sizing: border-box;
	vertical-align: middle;
}
.search_button{
	height: 26px;
    box-sizing: border-box;
    vertical-align: middle;
}

/* textarea */
.textarea_cont{
	resize: none;
	width: 100%;
	margin: 0.5em 0;
	padding: 0.5em;
	border: 1px solid #ddd;
	box-sizing: border-box;
}

/* box-shadow */
.box_shadow{box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);}

/* float */
.fl_L{float: left;}
.fl_R{float: right;}

/* text-align */
.txt_L{text-align: left;}
.txt_C{text-align: center;}
.txt_R{text-align: right;}

/* button */
.btn_anchor{
	display:inline-block;
	padding: 0.5em 1em;
	text-align: center;
	color: #fff;
	background-color: #849bba;
	border:1px solid #7c92af;
	border-radius: 3px;
	font-size: 15px;
	outline: none;
}
.btn_anchor_green{
	display:inline-block;
	padding: 0.5em 1em;
	text-align: center;
	color: #fff;
	background-color: #49bf68;
	border:1px solid #379e5b;
	border-radius: 3px;
	outline: none;
}
.btn_anchor:hover,
.btn_anchor:active{
	opacity: 0.95;
}
.btn_anchor_small{
	font-size: 13px;
}
.btn_anchor_xsmall{
	font-size: 12px;
}
.btn_anchor_large{
	font-size: 18px;
}
.btn_anchor_default{
	background-color: #a6b1c1;
	border: 1px solid #9ca4af;
	color: #e7eaec;
}
/* color */
.green{
	color: #258642;
}
.orange{
	color: #ffa500;
}
.red{
	color: rgb(226, 77, 56);
}

/* location */
.sub_title{
	font-size: 24px;
	padding: 1em 0;
	font-weight: 700;
	color: #333;
}
.location{
	font-size: 11px;
	float: right;
	padding-top: 10px;
}


/* main */
#header{
	position: absolute;
	width: 100%;
	padding: 0.6em 0;
	z-index: 1000;
}
#header .logo{
	float: left;
	font-size: 18px;
	font-weight: 700;
}
#header .logo a{
	display: block;
	width: 150px;
}
#header .logo a img{width: 100%;}
.quick_menu{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}
.quick_menu li{
	float: left;
	font-size: 11px;
	margin-left: 20px;
}
.quick_menu li:first-child{
	margin-left: 0;
}
.quick_menu li a:hover{
	color: #999;
}
.nav{
	float: right;
	font-size: 15px;
	font-weight: 700;
}
.nav > li{
	position: relative;
	float:left;
	margin-left: 3em;
	padding-top: 36px;
}
.nav > li:first-child{
	margin-left: 0em;
}

.gnb{}
.gnb > a{
	color: #333;
}

.lnb{
	position: absolute;
	top: auto;
	left: 50%;
	display: none;
	border-radius: 10px;
	overflow: hidden;
	transform: translate(-50%, 0);
}
.lnb > li{
	text-align: center;
	font-size: 13px;
	color: #333;
	background-color: #fff;
	transition: all ease 0.2s;
}
.lnb > li:hover{
	background-color: #258642;
	color: #fff;
}
.lnb > li:first-child{
	margin-top: 1em;
	border-radius: 10px 10px 0 0;
}
.lnb > li:first-child::before{
	position: absolute;
	top: 8px;
	left: calc(50% - 10px);
	content: " ";
	height: 0;
	z-index: -1;
	border-top: 10px solid;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	color: #ffffff;
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
}
.lnb > li > a{
	display: block;
	padding: 0.8em 1.5em;
	word-break: keep-all;
	font-weight: 400;
}

.slider_banner{
	min-width: 1100px;
	height: 680px;
}
.main_slider a{
	display: block;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	font-size: 0;
}
.main_slide01{
	background-image: url(../img/slide_img01.jpg);
}
.main_slide02{
	background-image: url(../img/slide_img02.jpg);
}
.main_slide03{
	background-image: url(../img/slide_img03.jpg);
}

.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.con_service{
	position: relative;
	margin-top: -230px;
	z-index: 1000;
}
.main_call{
	position: relative;
	float: left;
	width: 400px;
	height: 400px;
	background-image: url(../img/consul.jpg);
	background-size: cover;
}
.main_call .btn_anchor{
	position: absolute;
	bottom: 50px;
	left: 62px;
	padding: 0.8em 2.5em;
	font-size: 15px;
	background-color: rgba(44, 109, 150, 1);
	border: 1px solid rgba(44, 107, 150, 1);
	border-radius: 10px;
}
.main_notice{
	float: left;
	width: 700px;
	height: 400px;
	background-color: #fff;
}
.sub_slider{
	height: 100px;
}
.sub_link01{
	background-image: url(../img/sub_slide03.jpg);
}
.sub_link02{
	background-image: url(../img/sub_slide02.jpg);
}
.sub_link03{
	background-image: url(../img/sub_slide01.jpg);
}
.sub_link_btn{
	position: absolute;
	top: 34px;
	left: 110px;
}
.sub_link01 .sub_link_btn{
	background-color: rgb(37, 134, 66);
	border: 1px solid rgb(14, 121, 62);
}
.sub_link02 .sub_link_btn{
	background-color: rgb(234, 173, 80);
	border: 1px solid rgb(238, 163, 17);
}
.sub_link03 .sub_link_btn{
	background-color: rgb(73, 46, 115);
	border: 1px solid rgb(77, 11, 88);
}
.swiper-button-next.sub_btn_next{right: 0;}
.swiper-button-prev.sub_btn_prev{right: 38px; left: auto;}

.swiper-button-next.sub_btn_next,
.swiper-button-prev.sub_btn_prev{
	width: 38px;
	height: 38px;
	background-size: 12px 38px;
	background-color: rgba(255, 255, 255, 0.3);
	margin-top: 12px;
}

.main_notice .title{
	padding: 1em 0.6em 0;
	font-size: 24px;
	color: #333;
}
.main_notice .title a{
	float: right;
	color: #333;
}
.noti_list{
	padding: 1em;
}
.noti_list > li{
	padding: 0.5em 0;
	border-bottom: 1px solid #eee;
}
.noti_list > li::after{
	content: '';
	display: block;
	clear: both;
}
.noti_list > li > a{
	float: left;
	width: 80%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	border-bottom: 1px solid transparent;
}
.noti_list > li > a:hover{
	border-bottom: 1px solid #999;
}
.noti_list > li > span{
	float: right;
	width: 20%;
	text-align: right;
	font-size: 13px;
	color: #999;
}
.power_link_cont{
	margin: 3em 0;

}
.power_link_cont .row_wrap{
	height: 115px;
	background-image: url(../img/power_link_img.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.power_link_cont .row_wrap li:nth-child(1){
	border-right: 1px solid #333;
	margin-bottom:-1px;
}
.power_link_cont .row_wrap li:nth-child(2){
	border-left: 1px solid #333;
	margin-left: -1px;
	margin-bottom: -1px;
}
.link_cont{
	float:left;
	width: 50%;
	height: 100%;
	line-height: 115px;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	color: #ffffff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
	box-sizing: border-box;
}
.link_cont > a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.2);
	transition: all ease 0.3s;
}
.link_cont > a:hover{
	background-color: rgba(255, 255, 255, 0.5);
}

.about_link_cont{
	padding: 0 0 1em;
}
.about_link_cont ul li{
	float: left;
	width: 360px;
}
.about_link_cont ul li:nth-child(2){
	margin: 0 10px;
}


#footer{
	background-color: #495666;
}

.f_service{
	padding: 1.5em 0;
	color: #ccc;
	font-size: 13px;
	font-weight: 700;
}
.f_service li{
	float: right;
	width: 68px;
    margin: 0 1em;
    list-style: disc;
}
.f_service li a{
	transition: all ease 0.3s;
	word-break: break-all;
}
.f_service li a:hover{
	color: #fff;
}
.footer_cont{
	padding: 0.5em 0 1.5em;
	color: #fff;
}
.footer_cont .logo{
	margin: 0 0.5em 0.5em;
}
.footer_cont .logo a{
	display: block;
	width: 150px;
}
.footer_cont .logo a img{
	width: 100%;
}
.footer_cont .address{
}
.footer_cont .address ul li{
	line-height: 1.5;
}
.footer_cont .address ul li span{
	margin: 0 0.5em;
	font-size: 13px;
	color: #ccc;
}
