:root {
    /* COLOR */
    --main-color: #325EEF;
    --main-color-gray: #C0C3D0;
    --main-color-dark: #161619;

    --text-color: #333;
    --text-color-gray6: #666;
    --text-color-gray9: #999;
    --text-color-white: #fff;
    
    --container-color: #fff;
    --content-color: #F4F5FA;

    /* SHADOW */
    --box-shadow: 0 0 6px 2px rgb(0 0 0 / 10%);

    /* FONT */
    --biggest-font-size: 2.625rem; /* 42px */
    --big2-font-size: 2.125rem; /* 34px */
    --big-font-size: 1.5rem;  /* 24px */
    --normal-font-size: 1.125rem; /* 18px */
    --normal-font-size: 1rem; /* 16px */
    --small-font-size: .875rem; /* 14px */
    --smaller-font-size: .75rem; /* 12px */

    /* SPACING */
    --sp-2-5: 2.5rem; /* 40px */
    --sp-2: 2rem; /* 32px */
    --sp-1-5: 1.5rem; /* 24px */
    --sp-1: 1rem; /* 16px */
    --sp-0-75: .75rem; /* 12px */
    --sp-0-5: .5rem; /* 8px */
    --sp-0-25: .25rem; /* 4px */

    /* RESET */
    -webkit-tap-highlight-color:transparent;
    -webkit-text-size-adjust:100%;
    text-size-adjust:100%;
    cursor:default;
    line-height:1.5;
    overflow-wrap:break-word;
    -moz-tab-size:4;
    tab-size:4;

    /* Z-INDEX */
    --tooltip-index: 999;
    --fixed-index: 9999;
}

/* FONT */
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* RESET */
*{margin:0;padding:0;color:inherit; font-family: 'Spoqa Han Sans Neo', 'sans-serif';}
*, :after, :before {box-sizing:border-box;flex-shrink:0;}
html, body {height:100%; color: var(--text-color);}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
ul,ol,li {
    list-style: none;
}
.inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 var(--sp-1);
}


/* BUTTON */
.btn__primary {
    padding: 8px 12px;
    border-radius: 4px;
    font-size: var(--small-font-size);
    background: var(--main-color);
    color: var(--text-color-white);
}

.btn__gray {
    background: #999;
}

/* ELLIPSIS */
.ell__wrap {
	width: 100%;
    height: 48px;
}
.ell {
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* ellipsis line */
	-webkit-box-orient: vertical;

	/* webkit 엔진을 사용하지 않는 브라우저를 위한 속성. */
	/* height = line-height * line = 1.2em * 3 = 3.6em  */
	/* line-height: 1.2em;
	height: 3.6em; */
}

/* LAYOUT */
.col-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--sp-1);
}
.col-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--sp-1);
}
.col-6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--sp-1);
}
.col-12 {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--sp-1);
}
