@media screen and (max-width: 380px) {
    /* common */
    .btn_anchor_large{
        font-size: 16px;
    }
    .btn_double > div > a{
        padding: 1.2em 2.6em;
    }
    
    .mslide_cont .btn_more{
        bottom: 40px;
    }
    .mslide_cont .btn_more a{
        background-position: 180px 22px;
    }
    .slide_txt{
        font-size: 10px;
    }
    
    /* login */
    .small_form{
        margin: 8% 2%;
    }
}